
 body {
    padding-top: 5rem;
  }

 .btn-lg{
    background-color: #f72552;
    text-decoration-line: none;
    border-color: #f72552;

}

.btn-lg:hover{
    background-color: #D82048;
    border-color: #D82048;
}

.navbar{
    background-color:#f72552;
}


@media (min-width: 200px) {
    .age-group{
        margin-top:25%;
    }
}

@media (min-width: 576px) {
    .age-group{
        margin-top:15%;
    }
}
