 .btn-lg{
    background-color: #f72552;
    text-decoration-line: none;
    border-color: #f72552;

}

.btn-lg:hover{
    background-color: #D82048;
    border-color: #D82048;
}

.res-label{
    font-size: 30px;
    font-style: arial;
    color: #f72552;
}


#navbar-id{
    background-color:#f72552;
}

body {
    padding-top: 5rem;
  }
